<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HireLens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="header">
        <h1>HireLens</h1>
        <p>Skill-first resume screening and candidate alignment</p>
        <nav>
            <a href="/" style="color:white; margin-right:15px;">Home</a>
            <a href="/history" style="color:white;">History</a>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
